html {
    background-color: rgb(15,15,15);
}

#teste1 {
    margin: 15px;
    width: 350px;
    height: 300px;
    background-color: rgb(123, 222, 108);
}

#teste2 {
    margin: 15px;
    width: 350px;
    height: 300px;
    background-color: #75f97f;
}
