div {
    width: 500px;
    height: 350px;
    margin: 15px;
    border: 2px solid black;
    padding: 15px;
}

#teste1 {
    background-color: hsl(60, 100%, 50%);
    color: hsl(290, 100%, 50%);
}

#teste2 {
    background-color: hsl(289, 100%, 50%);
    color: hsl(60, 100%, 50%);
}